h1{font-size: 100px;
    color: rgb(12, 54, 28);
    margin: 0;
    margin-left: 510px;
    font-size: 2rem;
    


}
h2{
    font-size: 80px;
    color: rgb(12, 54, 28);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;


margin: 0;

}
p{font-size: 20px;
    color: rgb(1o, 10, 10);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;


}



h3{
    font-size: 30;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(16, 87, 145);
   
}
p{
    font-size: 200;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.bio-image img {
    border-radius: 50%;
    width: 250px; 
    margin-left: 500px;
   
}

